<div class="col-md-12">
  <div class="panel panel-white">
    <div class="panel-heading-border-light">
      <h1 class="text-center text-bold text-blue">Nieuwe offerte</h1>
    </div>
  </div>
</div>

<%= render 'form' %>

