<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Welkom bij OQ Business administrations</h4>
  <ul class="pull-right breadcrumb">
    <li>
      <a href="/"><i class="fa fa-home margin-right-5 text-small text-dark"></i>Home</a> || <strong>Over ons</strong>
    </li>
  </ul>
</div><br/><br/>
<!-- end: BREADCRUMB -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-white">
        <div class="panel-heading border-light">
          <h4 class="panel-title">Over <span class="text-bold">OQ Business Administration</span></h4>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <p class="float-right">
              OQ Business Administration is een jong bedrijf dat is opgericht door twee broers.
              Beide broers willen de onduidelijkheid bij ondernemers en de gat tussen de ondernemer en de boekhouder verkleinen.<br/><br/>
              Veel ondernemers weten niet wat hun boekhouder precies doet of ze vinden dat de boekhouding makkelijk is en
              besluiten dit zelf te doen. Bij veel van deze starters gaat het goed, maar bij een aantal gaat het ook goed fout.
              Deze krijgen te maken met onnodige aanslagen van de belastingdienst.<br/><br/>
              OQ BA is opgericht om deze ondernemers
              te begeleiden en ondersteuning te bieden in hun financiële administratie. Dit geeft de ondernemers de
              mogelijkheid om zich te focussen op hun core business.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag('/LAYOUT-4/STANDARD/assets/images/overonsbrothers.jpg', class: 'img-responsive center-block', width: '77%') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-white">
        <div class="panel-heading border-light">
          <h4 class="panel-title">Personeel</h4>
        </div>
        <div class="panel-body">
          <p>
            Al het personeel van OQ BA is hoog opgeleid en hebben naast de boekhouding ook kennis over andere aspecten van bedrijfsvoering.
            Dit geeft het bedrijf de mogelijkheid om starters op de juiste manier te begeleiden en ondersteunen tot succes van hun start up.
          </p><br/>
          <%= image_tag('/LAYOUT-4/STANDARD/assets/images/logo.png', class: 'img-responsive center-block', width: '46%') %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Waarom OQBA?</h4>
        </div>
        <div class="panel-body no-padding partition-dark-primary">
          <div class="col-md-6 partition-light-primary">
            <div class="padding-15">
              <p>
                OQ BA wil zijn doelen bereiken door een hechte band te creëren met haar relaties.
                Het hoeft niet altijd om geld te gaan! De relaties kunnen altijd direct contact opnemen voor advies.
                OQ BA wil graag dat haar afnemers succesvol zijn in hun bedrijfsvoering. Hiervoor biedt het bedrijf ook
                verschillende diensten aan.<br/><br/>

                U kunt kiezen uit verschillende pakketten zodat u altijd de beste optie voor uwzelf kunt kiezen.<br/><br/>
                Mocht er toch geen pakket bijzitten waarmee u tevreden bent dan kunt altijd kosteloos contact opnemen met ons,
                en dan maken wij een pakket op maat voor u.
              </p>
            </div>
            <%= link_to 'Bekijk pakketten', pakketten_path, class: 'btn btn-red btn-block' %><br/>
          </div>
          <div class="col-md-6">
            <div class="padding-15">
              <p>Diensten:</p>
              <ul class="list-unstyled">
                <li>Administratie</li>
                <li>Begeleiding startende ondernemers</li>
                <li>Jaarrekening</li>
                <li>Aangifte omzetbelasting</li>
                <li>Aangifte inkomstenbelasting</li>
                <li>Controle & begeleiding boekhouding</li>
              </ul>
            </div><br/>
            <%= link_to 'Bekijk diensten', diensten_path, class: 'btn btn-red btn-block' %><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>