<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Welkom bij OQ Business administrations</h4>
  <ul class="pull-right breadcrumb">
    <li>
      <a href="/"><i class="fa fa-home margin-right-5 text-small text-dark"></i>Home</a> || <strong>Pakketten</strong>
    </li>
  </ul>
</div><br/><br/>
<!-- end: BREADCRUMB -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-heading border-light">
          <h4 class="panel-title"><strong>Pakketten</strong></h4>
        </div>
        <div class="panel-body">
          <div class="panel-body">
            <h5 class="over-title margin-bottom-15">Third <span class="text-bold">example</span></h5>
            <p>
              These tables fill 100% of their container and are made from a simple unordered list.
            </p>
            <div class="pricing-table pricing-blue">
              <div class="col-lg-3 col-md-3 col-xs-6">
                <ul class="plan plan1">
                  <li class="plan-name">
                    ZZP Simpel pakket
                  </li>
                  <li class="plan-price">
                    <h3> €19 <span class="price-cents">95</span><span class="price-month">p/m</span></h3>
                  </li>
                  <li>
                    <strong>50</strong> mutaties per maand
                  </li>
                  <li>
                    Aangifte ometbelasting
                  </li>
                  <li>
                    Aangifte inkomstenbelasting
                  </li>
                  <li>
                    Advies en hulp
                  </li>
                  <li>
                    <strong>Geen opzegtermijn</strong>
                  </li>
                  <li class="plan-action">
                    <a href="#" class="btn btn-blue btn-lg"> Kies dit pakket </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6">
                <ul class="plan plan2 featured">
                  <li class="plan-name">
                    ZZP Plus pakket
                  </li>
                  <li class="plan-price">
                    <h3> €49 <span class="price-cents">95</span><span class="price-month">/month</span></h3>
                  </li>
                  <li>
                    Complete verzorging van de administratie
                  </li>
                  <li>
                    Aangifte omzetbelasting
                  </li>
                  <li>
                    Aangifte inkomstenbelasting
                  </li>
                  <li>
                    Advies en begeleiding
                  </li>
                  <li>
                    Online inzicht eigen boekhouding
                  </li>
                  <li>
                    Verwerking facturen en bonnetjes
                  </li>
                  <li>
                    Jaarrekening
                  </li>
                  <li>
                    <strong>Geen opzegtermijn</strong>
                  </li>
                  <li class="plan-action">
                    <a href="#" class="btn btn-blue btn-lg"> Kies dit pakket </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6">
                <ul class="plan plan3">
                  <li class="plan-name">
                    V.O.F.
                  </li>
                  <li class="plan-price">
                    <h3> €99 <span class="price-cents">95</span><span class="price-month">p/m</span></h3>
                  </li>
                  <li>
                    Complete verzorging van de administratie
                  </li>
                  <li>
                    Aangifte omzetbelasting
                  </li>
                  <li>
                    Aangifte inkomstenbelasting
                  </li>
                  <li>
                    Verwerking facturen en bonnetjes
                  </li>
                  <li>
                    Jaarrekening
                  </li>
                  <li>
                    Advies en begeleiding
                  </li>
                  <li>
                    <strong>Geen opzegtermijn</strong>
                  </li>
                  <li class="plan-action">
                    <a href="#" class="btn btn-blue btn-lg"> Kies dit pakket </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6">
                <ul class="plan plan4">
                  <li class="plan-name">
                    Pakket 4
                  </li>
                  <li class="plan-price">
                    <h3> €2000 <span class="price-cents">99</span><span class="price-month">p/m</span></h3>
                  </li>

                  <li class="plan-action">
                    <a href="#" class="btn btn-blue btn-lg"> Kies dit pakket </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>