<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Welkom bij OQ Business Administration</h4>
  <ul class="pull-right breadcrumb">
    <li>
      <a href="/"><i class="fa fa-home margin-right-5 text-small text-dark"></i>Home</a> || <strong>Diensten</strong>
    </li>
  </ul>
</div><br/><br/>
<!-- end: BREADCRUMB -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-white">
        <div class="panel-heading border-light">
          <h4 class="panel-title text-bold">Diensten</h4>
        </div>
        <div class="panel-body">
          <h5 class="over-title margin-bottom-15"><span class="text-bold">Diensten</span></h5>
          <p>
            Bekijk hier extra informatie over onze diensten.
          </p>
          <div class="panel-group accordion" id="accordion">
            <div class="panel panel-white">
              <div class="panel-heading">
                <h5 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <i class="icon-arrow"></i> <span class="text-bold">Verwerking van de administratie</span> </a></h5>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  Ondernemers hebben de mogelijkheid om de gehele administratie uit te besteden. Dit houdt in dat u
                  alle facturen en bonnetjes naar ons zult sturen. Vervolgens zullen wij alles voor u netjes organiseren.
                  Kortom dit betreft complete verwerking van de administratie.
                </div>
              </div>
            </div>
            <div class="panel panel-white">
              <div class="panel-heading">
                <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <i class="icon-arrow"></i> <span class="text-bold">Aangifte omzetbelasting</span> </a></h5>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Btw staat voor 'belasting toegevoegde waarde'. Het is een afkorting voor de belasting die u betaalt
                  over de gemaakte omzet, of te wel omzetbelasting. De btw die u als ondernemer verschuldigd bent aan
                  de Belastingdienst, betaalt u per maand, kwartaal of jaar. Hoe vaak u precies aangifte moet doen, staat
                  in de brief die u na uw inschrijving in het Handelsregister ontvangt van de Belastingdienst.
                  In de meeste gevallen doen ondernemers per kwartaal aangifte voor de btw.
                </div>
              </div>
            </div>
            <div class="panel panel-white">
              <div class="panel-heading">
                <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <i class="icon-arrow"></i> <span class="text-bold">Aangifte inkomstenbelasting</span> </a></h5>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Inkomstenbelasting is de belasting die wordt geheven van personen in Nederland. Het inkomstenbelastingtarief
                  is progressief, dat wil zeggen naarmate u meer verdient, betaalt u in verhouding meer belasting.
                  Wel zijn er verschillende aftrekposten voor ondernemers om de belastbare winst te verminderen waardoor
                  u minder belasting betaald.
                </div>
              </div>
            </div>
            <div class="panel panel-white">
              <div class="panel-heading">
                <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> <i class="icon-arrow"></i> <span class="text-bold">Jaarrekening</span> </a></h5>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Een jaarrekening is een overzicht van de financiële situatie van een onderneming van het afgelopen boekjaar.
                  Een jaarrekening bestaat uit een balans, een winst- en verliesrekening en een toelichting op beide.
                </div>
              </div>
            </div>
            <div class="panel panel-white">
              <div class="panel-heading">
                <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> <i class="icon-arrow"></i> <span class="text-bold">Begeleiding van startende ondernemers</span> </a></h5>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  Ondernemers die pas starten met hun bedrijf, stuiten op veel vragen. Wij zullen deze starters
                  begeleiden en ondersteunen bij het start van hun onderneming.
                </div>
              </div>
            </div>
            <div class="panel panel-white">
              <div class="panel-heading">
                <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> <i class="icon-arrow"></i> <span class="text-bold">Begeleiding en controle bij eigen boekhouding</span> </a></h5>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Er zijn ook ondernemers die ervoor kiezen om een eigen boekhouding te voeren. Deze ondernemers kunnen
                  bij ons aankloppen om hun boekhouding te laten controleren en eventuele belasting aangiftes te doen.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-white">
        <div class="panel-heading border-light">
          <h4 class="panel-title text-bold">Reviews</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <blockquote><span class="text-small text-bold text-blue">SenSecur </span> - Het is geweldig om met OQBA samen te werken,
              met name vanwege de tips en begeleiding die gegeven worden om het onderste uit de kan te kunnen halen.</blockquote>
            </li>
            <li>
              <blockquote><span class="text-small text-bold text-blue">BestelEasy </span> - Voor het eerst dat goedkoop niet staat voor duurkoop!</blockquote>
            </li>
            <li>
              <blockquote><span class="text-small text-bold text-blue">PWD Rotterdam </span> - Per toeval terecht gekomen bij OQBA, en ik heb tot noch toe louter positieve ervaringen.</blockquote>
            </li>
            <li>
              <blockquote><span class="text-small text-bold text-blue">Chickenhouse </span> - Erg behulpzaam en komen altijd hun afspraken na.</blockquote>
            </li>
          </ul>
          <div itemscope itemtype="http://schema.org/Product" class="text-center">
            <span itemprop="name" class="text-bold text-large">OQ Business Administration - Boekhouderskantoor </span>
            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
              <strong>Beoordeling:</strong> <span itemprop="ratingValue">4.9</span>/5 op basis van <span itemprop="reviewCount">89</span> beoordelingen
            </div>
            <%= image_tag('/LAYOUT-4/STANDARD/assets/images/fivestars.png', class: 'center-block') %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-heading border-light">
          <h4 class="panel-title text-bold text-center">Toch iets anders..?</h4>
        </div>
        <div class="panel-body text-large text-center">
          Omdat wij als geen ander weten hoe belangrijk het is om hét perfecte boekhoudingspakket te hebben kunt u ook altijd aparte eisen opperen.<br/>
          Wij zullen altijd tijd voor u vrijmaken, hoe druk we het ook hebben, en u kunt geheel vrijblijvend contact opnemen met ons.<br/><hr/>
          <%= link_to 'Vrijblijvend contact opnemen', contacts_path, class: 'btn btn-primary btn-blue text-large' %><br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>
