<div class="app-content hide_this">
  <!-- start: NAVBAR HEADER --><hr/>
  <div class="navbar-header">
    <button href="javascript:void(0)" class="menu-mobile-toggler btn no-radius btn-block btn-blue hidden-md hidden-lg" id="horizontal-menu-toggler" data-toggle="collapse" data-target=".horizontal-menu">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <!-- end: NAVBAR HEADER -->
  <!-- start: HORIZONTAL MENU -->
  <div class="navbar navbar-default horizontal-menu collapse">
    <div class="horizontal-menu-wrapper">
      <div class="horizontal-nav-container">
        <ul class="nav navbar-nav no-border">
          <li>
            <a href="/facturen"> <div class="lettericon" data-text="Facturen" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Facturen </span> </a>
          </li>
          <li>
            <a href="#"> <div class="lettericon" data-text="Offertes" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Offertes </span> </a>
          </li>
          <li>
            <a href="/producten"> <div class="lettericon" data-text="Producten" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Producten </span> </a>
          </li>
          <li>
            <a href="/klanten"> <div class="lettericon" data-text="Klanten" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Klanten </span> </a>
          </li>
          <li>
            <a href="/instellingen"> <div class="lettericon" data-text="I" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Instellingen </span> </a>
          </li>
          <li class="fade in">
            <a href="/"> <div class="lettericon" data-text="OQBA" data-size="sm" data-char-count="2" data-color="auto"></div> <span>OQBA.nl </span> </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-user-wrapper" data-toggle="dropdown"> <img alt="" src="/layout-4/standard/assets/images/avatar-1.jpg"> <span>Omar Qayoumi</span> <span class="caret"></span> </a>

            <ul class="dropdown-menu pull-right animated">
              <li>
                <%= link_to 'Mijn profiel',root_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Uitloggen', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
      <div class="close-handle visible-xs-block visible-sm-block menu-toggler" data-toggle="collapse" data-target=".horizontal-menu">
        <%= link_to '<div class="arrow-left"></div>'.html_safe, request.path %>
        <%= link_to '<div class="arrow-right"></div>'.html_safe, request.path %>
      </div>
      <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
    </div>
  </div><br/>
  <!-- end: HORIZONTAL MENU -->
  <!-- end: TOP NAVBAR -->
</div>
