<div class="app-content hide_this">
  <!-- start: HORIZONTAL MENU -->
  <div class="navbar navbar-default horizontal-menu collapse">
    <div class="horizontal-menu-wrapper">
      <div class="horizontal-nav-container">
        <ul class="nav navbar-nav no-border">
          <li class="active">
            <a href="/"> <div class="lettericon" data-text="Home" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Home </span> </a>
          </li>
          <li>
            <a href="/over-ons"> <div class="lettericon" data-text="Over ons" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Over ons </span> </a>
          </li>
          <li>
            <a href="/diensten"> <div class="lettericon" data-text="Diensten" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Diensten </span> </a>
          </li>
          <li>
            <a href="/pakketten"> <div class="lettericon" data-text="Pakketten" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Pakketten </span> </a>
          </li>
          <li>
            <a href="/contact"> <div class="lettericon" data-text="Contact" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Contact </span> </a>
          </li>
        </ul>

        <div class="nav navbar-nav navbar-right">
           <%= link_to "<span class='fa fa-lock'></span>  Mijn OQBA".html_safe, invoices_path, class: 'btn btn-lg btn-azure btn-custom' %>
        </div>
      </div>
      <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
      <div class="close-handle visible-xs-block visible-sm-block menu-toggler" data-toggle="collapse" data-target=".horizontal-menu">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
      </div>
      <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
    </div>
  </div><br/>
  <!-- end: HORIZONTAL MENU -->
  <!-- end: TOP NAVBAR -->

</div>

