<div class="app-content">
  <!-- start: HORIZONTAL MENU -->
  <div class="navbar navbar-default horizontal-menu collapse">
    <div class="horizontal-menu-wrapper">
      <div class="horizontal-nav-container">
        <ul class="nav navbar-nav no-border">
          <li class="fade in active">
            <a href="/"> <div class="lettericon" data-text="Dashboard" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Home </span> </a>
          </li>
          <li>
            <a href="#"> <div class="lettericon" data-text="Dashboard" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Facturen </span> </a>
          </li>
          <li>
            <a href="#"> <div class="lettericon" data-text="Dashboard" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Offertes </span> </a>
          </li>
          <li>
            <a href="/producten"> <div class="lettericon" data-text="Dashboard" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Producten </span> </a>
          </li>
          <li>
            <a href="/klanten"> <div class="lettericon" data-text="Dashboard" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Klanten </span> </a>
          </li>
          <li>
            <a href="/instellingen"> <div class="lettericon" data-text="Dashboard" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Instellingen </span> </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-user-wrapper" data-toggle="dropdown"> <img alt="" src="/layout-4/standard/assets/images/avatar-1.jpg"> <span>Omar Qayoumi</span> <span class="caret"></span> </a>

            <ul class="dropdown-menu pull-right animated">
              <li>
                <%= link_to 'Mijn profiel',root_path %>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#"> Log Out </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
      <div class="close-handle visible-xs-block visible-sm-block menu-toggler" data-toggle="collapse" data-target=".horizontal-menu">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
      </div>
      <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
    </div>
  </div><br/>
  <!-- end: HORIZONTAL MENU -->
  <!-- end: TOP NAVBAR -->

</div>

