<h1>New Factuur</h1>

<%= render 'form' %>

<%= link_to 'Back', factuurs_path %>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-white">
      <div class="panel-body">
        <div class="invoice">
          <div class="row invoice-logo">
            <div class="col-sm-6">
              <img alt="" src="/layout-4/standard/assets/images/your-logo-here.png">
            </div>
            <div class="col-sm-6">
              <p class="text-dark">
                #1233219 / 22 Juni 2016 <small class="text-light"> Lorem ipsum dolor sit amet </small>
              </p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h4>Client:</h4>
              <div class="well">
                <address>
                  <strong class="text-dark">OQBA B.V..</strong>
                  <br>
                  1 Infinite Loop
                  <br>
                  Cupertino, CA 95014
                  <br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <address>
                  <strong class="text-dark">E-mail:</strong>
                  <a href="mailto:#"> info@customer.com </a>
                </address>
              </div>
            </div>
            <div class="col-sm-4 pull-right">
              <h4>Payment Details:</h4>
              <ul class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">
                <li>
                  <strong>Bedrijf:</strong> OQBA
                </li>
                <li>
                  <strong>BTW</strong> Company Ltd
                </li>
                <li>
                  <strong>BTW</strong> 1233F4343ABCDEW
                </li>
                <li>
                  <strong>BANK</strong> 01/01/2014
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th> # </th>
                  <th> Item </th>
                  <th class="hidden-480"> Description </th>
                  <th class="hidden-480"> Quantity </th>
                  <th class="hidden-480"> Unit Cost </th>
                  <th> Total </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> 1 </td>
                  <td> Lorem </td>
                  <td class="hidden-480"> Drem psum dolor </td>
                  <td class="hidden-480"> 12 </td>
                  <td class="hidden-480"> $35 </td>
                  <td> $1152 </td>
                </tr>
                <tr>
                  <td> 2 </td>
                  <td> Ipsum </td>
                  <td class="hidden-480"> Consectetuer adipiscing elit </td>
                  <td class="hidden-480"> 21 </td>
                  <td class="hidden-480"> $469 </td>
                  <td> $6159 </td>
                </tr>
                <tr>
                  <td> 3 </td>
                  <td> Dolor </td>
                  <td class="hidden-480"> Olor sit amet adipiscing eli </td>
                  <td class="hidden-480"> 24 </td>
                  <td class="hidden-480"> $144 </td>
                  <td> $8270 </td>
                </tr>
                <tr>
                  <td> 4 </td>
                  <td> Sit </td>
                  <td class="hidden-480"> Laoreet dolore magna </td>
                  <td class="hidden-480"> 194 </td>
                  <td class="hidden-480"> $317 </td>
                  <td> $966 </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 invoice-block">
              <ul class="list-unstyled amounts text-small">
                <li>
                  <strong>Subtotaal:</strong> $12,876
                </li>
                <li>
                  <strong>Korting:</strong> 9.9%
                </li>
                <li>
                  <strong>BTW:</strong> 21%
                </li><hr/>
                <li class="text-extra-large text-dark margin-top-15">
                  <strong >Totaal:</strong> $11,400
                </li>
              </ul>
              <br>
            </div>
          </div>
          <div class="panel-footer">
            We verzoeken u vriendelijk het bovenstaande bedrag van € 0,00 voor 14-07-2016 te voldoen op onze bankrekening
            onder vermelding van het factuurnummer Concept #1. Voor vragen kunt u contact opnemen per e-mail.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-white">
      <div class="panel-body">
        <a onclick="javascript:window.print();" class="btn btn-lg btn-primary hidden-print"> Print <i class="fa fa-print"></i> </a>
        <a class="btn btn-lg btn-primary btn-o hidden-print"> Opslaan <i class="fa fa-check"></i> </a> Opslaan als concept
      </div>
    </div>
  </div>
</div>
