/* ---------------------------------------------------------------------- */
/*  Invoice
/* ---------------------------------------------------------------------- */
.invoice {
    margin-bottom: 20px;
}

.invoice .invoice-logo {
    margin-bottom: 20px;
}

.invoice table {
    margin: 30px 0;
}

.invoice .invoice-logo p {
    font-size: 20px;
    line-height: 28px;
    padding: 25px 0;
    text-align: right;
}

.invoice .invoice-logo p small {
    display: block;
    font-size: 14px;
}

.invoice h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 !important;
}

.invoice-details {
    padding-top: 30px;
}

.invoice .invoice-block {
    text-align: right;
}

.invoice .invoice-block .amounts {
    font-size: 14px;
    margin-top: 20px;
}

@media print {
  .hide_this {
      display: none;
  }

  img {
      max-width: 500px;
      border: 0;
  }

  .print_invoice {
      margin: 0.5cm 2cm 50cm 1.3cm;
      margin-bottom: 200px;
  }

  .company_info {
      margin: 0 4cm 2cm 0 ;
  }

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    color: #000000;
    padding-bottom: 40px;
  }

  h1 {
      font-size: 24pt;
  }

  h2 {
      font-size: 14pt;
      margin-top: 25px;
  }

  aside h2 {
      font-size: 18pt;
  }
}
